.navbar {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
  position: relative;
  z-index: 30px;
  padding-top: 1.25rem /* 20px */;
  padding-bottom: 1.25rem /* 20px */;
}

.image {
  height: 66px;
  width: 224px;
  object-fit: fill;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: semibold;
  font-family: "Markazi";
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.nav-link:hover {
  color: rgb(239, 165, 67);
}

.mobile-nav-link:hover {
  color: rgb(239, 165, 67);
}

.mobile-nav-link {
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: semibold;
  font-family: "Markazi";
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
  padding-right: 20px;
  list-style: none;
  right: 0px;
  width: 300px;
  height: 100dvh;
  padding: 40px 0 0 10px;
  position: fixed;
  gap: 10px;
  background-color: aliceblue;
}



/* .mobile-navbar {
  text-decoration: none;
  position: fixed;
  display: flex;
} */

.mobile-menu {
  margin: auto;
  display: inline-block;
  cursor: pointer;
  background-color: white;
  border: 0px;
}

.nav-list {
  display: none;
  gap: 3rem;
  list-style: none;
}

@media (min-width: 1024px) {
  .mobile-navbar {
    display: none;
  }
  .mobile-nav-list {
    display: none;
  }

  .navbar {
    padding-left: 5rem /* 80px */;
    padding-right: 5rem /* 80px */;
  }
  .nav-list {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
}

@media (min-width: 1680px) {
  .mobile-navbar {
    display: none;
  }
  .mobile-nav-list {
    display: none;
  }
  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-list {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
}
